# Python / Fastapi
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
.env

# Node / React
node_modules/
dist/
dist-ssr/
*.local

# Editor / OS
.vscode/
.idea/
.DS_Store
*.log
